.container{
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-around;
}
.items{
    flex-direction: column;
}
.image{
height: auto;
width: 100%;
flex-grow: inherit;
}
.instructions{
align-items: center;
justify-content: space-evenly;
}